* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-size: 1vw; */
}

div {
  position: relative;
}

i {
  margin: 0 0 0 0.4em;
}

a {
  cursor: pointer;
}

header {
  display: flex;
  background-color: #aaa;
  flex-direction: column;
}

.navigation-section {
  display: flex;
}

div.tnw-logo {
  width: 105px;
  background-color: red; 
  background-image: url(../images/tnw.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center center;
  height: 80px;
  /* display: none; */
}

div.menu-bar {
  width: calc(100% - 105px);
  flex: 1;
}

.black-menu {
  background-color: #000;
  height: 32px;
  width: 100%;
  padding: 0 15px 0 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0px;
}

.black-menu a {
    color: #999;
    text-decoration: none;
}

.black-menu a:hover {
    color: #fff;
}

.black-menu ul {
    display: inline-block;
}


.black-menu ul li{
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
    /* letter-spacing: 0; */
}

.black-menu-right {
  float: right;
  letter-spacing: 0.2px;
}

.black-menu-right li {
  margin: 0 4px;
}

.white-menu {
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 250, 250);
  height: 48px;
  font-family: 'Oxanium', cursive;
  text-transform: uppercase;
  padding: 0 0 0 12px;
  color: #999;
  letter-spacing: 0px;
}

.white-menu li {
  display: inline-block;
  line-height: 48px;
  margin: 0 10px;
}

.white-menu-left li {
  line-height: 48px;
  margin: 0 10px;
  font-size: 14px;
}

.white-menu-right {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  width: 112px;
}

.white-menu-search-button {
  height: 96%;
  margin-top: 1px;
  width: 54px;
  font-size: 18px;
  border-left: 1px solid #aaa;
}

.white-menu-search-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color:yellow; 
  text-decoration: none;
  color: #999;
}

.white-menu-close-button {
  height: 96%;
  margin-top: 1px;
  width: 54px;
  border-left: 1px solid #aaa;
  
}

.white-menu-close-button a {
  display: block;
  height: 100%;
  /* background-color:red; */

}

.white-menu-close-button-line1, .white-menu-close-button-line2, .white-menu-close-button-line3 {
  position: absolute;
  left: 12px;
  width: 30px;
  height: 4px;
  background: #EDA28C;
}

.white-menu-close-button-line1 {
  top: 14px;
}

.white-menu-close-button-line2 {
  top: 22px
}

.white-menu-close-button-line3 {
  top: 30px;
}

.white-menu-close-button:active div.white-menu-close-button-line1 {
  transform: rotate(45deg);
  /* transition: all 0.1s cubic-bezier(0.75, 0.25, 0.10, 0.95); */
  /* animation: rotation 0.5s forwards linear; */
}

